<section class="race">
    <div class="race-wrapper pt-5" id="race">
        <div class="race-shape pt-5">
            <img src="/images/MMR2022/MMR-Logo-Negativo-PNG.png" alt="">
        </div>
        <br><br><br>
        <h1>Mari Menuco Run</h1>

        <h3>
            <ion-icon class="race-icon-location" name="calendar"></ion-icon>
            16 y 17 Julio 2022
        </h3>

        <h3>
            <ion-icon class="race-icon-location" name="location"></ion-icon>
            Lago Mari Menuco
        </h3>

        <p>quaerat tenetur, distinctio consequatur eum, esse id optio illo nulla impedit mollitia possimus hic ipsam. Porro atque nulla a esse voluptates illo accusamus vero libero, placeat neque cupiditate dolor labore nemo sit quaerat dolore dolorem
            ratus sint! Qui adipisci, consequuntur voluptate est in ut optio obcaecati nostrum cum suscipit quibusdam, quae deserunt saepe sit odit veniam error sed dignissimos provident dicta dolorum? Eaque aliquam dicta facilis nesciunt, quidem
            ipsa in laboriosam itaque nam adipisci veniam vitae animi amet quod a eum corporis pariatur inventore excepturi iure voluptatum eos! Repudiandae debitis, blanditiis voluptatibus consequuntur, aspernatur cupiditate nihil architecto deserunt
            modi iure fugit inventore nisi eaque quos aliquam! Laborum ab omnis quaerat neque, cum vitae, at rerum excepturi porro error et quo laboriosam eligendi sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo tenetur numquam
        </p>

    </div>
</section>