<section class="race">
    <div class="race-wrapper pt-5" id="race">
        <div class="race-shape pt-5">
            <img src="/images/MMR2022/MMR-Logo-Negativo-PNG.png" alt="">
        </div>
        <br><br><br>
        <h1>Mari Menuco Run</h1>

        <h3>
            <ion-icon class="race-icon-location" name="calendar"></ion-icon>
            6 de Noviembre 2022
        </h3>

        <h3>
            <ion-icon class="race-icon-location" name="location"></ion-icon>
            Lago Mari Menuco
        </h3>

        <p> La carrera se encuentra diagramada dentro del Club y terrenos lindantes con opciones de distancias de 5k, 10k y 21k, respetando todos los protocolos vigentes para la seguridad de los corredores. 
            <br><br>
            También contará con la opción KIDS destinada a niños de 4 a 12 años con la intención de promover e impulsar la creatividad de los chicos a través de juegos y actividades al aire libre.
            Se estima contar con la presencia de 300 corredores, puestos de hidratación, espacios destinados para acompañantes, asistencia médica, food trucks, stands promocionales y acceso a capacitaciones gratuitas  luego de la competencia.
           <br><br>
            Desde Mari Menuco Run fomentamos el bienestar, la solidaridad y el cuidado del medioambiente. Es por ello, que creemos que es tarea de todos cuidar y preservar el entorno natural donde se desarrollará cumpliendo con los recursos necesarios para que la misma sea amigable con el ambiente.           
        </p>

    </div>
</section>