<section class="categories">
    <div class="categories-wrapper" id="categories">
        <div class="cat-shape1">

        </div>
        <div class="cat-shape2">

        </div>

        <div class="container cat-card-container">
            <h1 class="cat-title text-center">Distancias</h1>
            <div class="row cat-card-row d-flex align-items-center justify-content-center">
                <div class="col-lg-6 col-sm-12 p-2 cat-col-card">
                    <div class="cat-card d-flex align-items-center justify-content-center">
                        <img src="/images/MMR2022/MMR-Isotipo-Negativo.png" alt="">

                        <!-- BOTONES -->
                        <div class="banner-btn card-btn col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button" onclick="navigateRegister()"><ion-icon class="card-time-btn" name="person-add"></ion-icon>Inscribirme</button>
                        </div>

                        <div class="banner-btn card-btn2 col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button"><ion-icon class="card-time-btn" name="cloud-download"></ion-icon>Reglamento</button>
                        </div>

                        <!-- FORMA ANIMADA -->
                        <div class="card-inner-sape">
                        </div>
                        <div class="card-inner-content text-center">
                            <h1>21k</h1>
                            <ul id="21k">
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="time-outline">
                                        </ion-icon>Largada: 11:00 AM</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="swap-vertical">
                                        </ion-icon>Categorias</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="watch-outline">
                                        </ion-icon>Kit Corredor</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="map"></ion-icon>
                                        </ion-icon>Circuito</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 p-2 cat-col-card">
                    <div class="cat-card d-flex align-items-center justify-content-center">
                        <img src="/images/MMR2022/MMR-Isotipo-Negativo.png" alt="">

                        <!-- BOTONES -->
                        <div class="banner-btn card-btn col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button" onclick="navigateRegister()"><ion-icon class="card-time-btn" name="person-add"></ion-icon>Inscribirme</button>
                        </div>

                        <div class="banner-btn card-btn2 col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button"><ion-icon class="card-time-btn" name="cloud-download"></ion-icon>Reglamento</button>
                        </div>

                        <!-- FORMA ANIMADA -->
                        <div class="card-inner-sape"></div>
                        <div class="card-inner-content text-center">
                            <h1>10k</h1>
                            <ul id="10k">
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="time-outline">
                                        </ion-icon>Largada: 11:10 AM</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="swap-vertical">
                                        </ion-icon>Categorias</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="watch-outline">
                                        </ion-icon>Kit Corredor</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="map"></ion-icon>
                                        </ion-icon>Circuito</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 p-2 cat-col-card">
                    <div class="cat-card d-flex align-items-center justify-content-center">
                        <img src="/images/MMR2022/MMR-Isotipo-Negativo.png" alt="">

                        <!-- BOTONES -->
                        <div class="banner-btn card-btn col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button" id="register-button" onclick="navigateRegister()"><ion-icon class="card-time-btn" name="person-add"></ion-icon>Inscribirme</button>
                        </div>

                        <div class="banner-btn card-btn2 col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button"><ion-icon class="card-time-btn" name="cloud-download"></ion-icon>Reglamento</button>
                        </div>

                        <!-- FORMA ANIMADA -->
                        <div class="card-inner-sape"></div>
                        <div class="card-inner-content text-center">
                            <h1>5k</h1>
                            <ul id="5k">
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="time-outline">
                                        </ion-icon>Largada: 11:20 AM</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="swap-vertical">
                                        </ion-icon>Categorias</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="watch-outline">
                                        </ion-icon>Kit Corredor</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="map"></ion-icon>
                                        </ion-icon>Circuito</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 p-2 cat-col-card">
                    <div class="cat-card d-flex align-items-center justify-content-center">
                        <img src="/images/MMR2022/MMR-Isotipo-Negativo.png" alt="">

                        <!-- BOTONES -->
                        <div class="banner-btn card-btn col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button" onclick="navigateRegister()"><ion-icon class="card-time-btn" name="person-add"></ion-icon>Inscribirme</button>
                        </div>

                        <div class="banner-btn card-btn2 col-sm-12 px-4 mt-3 d-flex text-center align-items-center justify-content-center">
                            <button type="button"><ion-icon class="card-time-btn" name="cloud-download"></ion-icon>Reglamento</button>
                        </div>

                        <!-- FORMA ANIMADA -->
                        <div class="card-inner-sape"></div>
                        <div class="card-inner-content text-center">
                            <h1>kids</h1>
                            <ul id="kids">
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="time-outline">
                                        </ion-icon>Largada: 11:30 AM</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="swap-vertical">
                                        </ion-icon>Categorias</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="watch-outline">
                                        </ion-icon>Kit Corredor</p>
                                </li>
                                <li>
                                    <p class="card-time">
                                        <ion-icon class="card-time-icon" name="map"></ion-icon>
                                        </ion-icon>Circuito</p>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script>
    const twentyOne = document.getElementById('21k');
    twentyOne.addEventListener('click', () => {
        location.href = '/distances#slide-4'
    });

    const ten = document.getElementById('10k');
    ten.addEventListener('click', () => {
        location.href = '/distances#slide-3'
    });

    const five = document.getElementById('5k');
    five.addEventListener('click', () => {
        location.href = '/distances#slide-2'
    });

    const kids = document.getElementById('kids');
    kids.addEventListener('click', () => {
        location.href = '/distances#slide-1'
    });

    function navigateRegister() {
        location.href = '/#register-wrapper'
    }


</script>