<section class="footer" id="footer">
    <!--Carousel start-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row text-center">
                    <h1 class="text-white">INVITAN</h1>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img src="/images/invitan/calf.png" class="img-fluid" alt="...">
                        </div>
                        <div class="col-3">
                            <img src="/images/invitan/club del personal.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img src="/images/invitan/club mari menuco.png" class="img-fluid" alt="...">
                        </div>
                        <div class="col-3">
                            <img src="/images/invitan/miactivo.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row text-center">
                    <h1 class="text-white">MAIN SPONSORS</h1>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img src="/images/main sponsors/divanni.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img src="/images/main sponsors/del parque.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row text-center">
                    <h1 class="text-white">SPONSORS</h1>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img src="/images/sponsors/leimat.png" class="img-fluid" alt="...">
                        </div>
                        <div class="col-3">
                            <img src="/images/sponsors/seep.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img src="/images/sponsors/raices.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row text-center">
                    <h1 class="text-white">ACOMPAÑAN</h1>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img src="/images/acompanan/alto pathagon.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="col-3">
                            <img style="opacity: 0;" src="/images/acompanan/alto pathagon.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Carousel ends-->
    <div class="footer-wrapper">
        <div class="footer-container">
            <div class="sec about">
                <h2>Acerca de Mari Menuco Run</h2>
                <p>Llega la primera edición de Mari Menuco Run a desarrollarse en el Club Mari Menuco el día domingo 6
                    de noviembre del 2022, siendo esta, una oportunidad para aficionados y profesionales del running,
                    como también para familias que deseen disfrutar de un momento recreativo en un entorno natural único
                    que brinda uno de los lagos más importantes del Alto Valle.
                </p>
                <ul class="sci">
                    <li>
                        <a href="#">
                            <ion-icon class="sci-icon" name="logo-facebook"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon class="sci-icon" name="logo-instagram"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon class="sci-icon" name="logo-linkedin"></ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Descargas</h2>
                <ul>
                    <li>
                        <a href="/stylesheets/REGLAMENTO.pdf" download>
                            Reglamento
                        </a>
                    </li>
                    <li>
                        <a href="/stylesheets/Planilla de acompañantes.pdf" download>
                            Formulario acompañantes
                        </a>
                    </li>
                    <li>
                        <a href="/stylesheets/DESLINDE DE REPONSABILIDAD.pdf" download>
                            Deslinde de responsabilidad
                        </a>
                    </li>
                    <li>
                        <a href="/stylesheets/Certificado médico.pdf" download>
                            Certificado medico
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                        Términos y Condiciones
                    </a>
                    </li>

                    <li>
                        <a href="#">
                        Legales
                    </a>
                    </li> -->
                </ul>
            </div>
            <div class="sec contact">
                <h2>Contactanos!</h2>
                <ul class="c-info">
                    <li>
                        <span>
                            <ion-icon class="c-info-icon" name="location-outline"></ion-icon>
                        </span>
                        <p><a
                                href="https://www.google.com/search?tbs=lf:1,lf_ui:1&tbm=lcl&sxsrf=ALiCzsZ2bZSUXJioY9eSKoCgxnHJGDacFA:1659885756919&q=villa+lago+mari+menuco&rflfq=1&num=10&rldimm=0x960b7575983e7f83:0x55cc8faf0cf48515#">Villa
                                Lago Mari Menuco</a></p>
                    </li>

                    <!-- <li>
                        <span><ion-icon class="c-info-icon" name="logo-whatsapp"></ion-icon></ion-icon></span>
                        <p><a href="https://api.whatsapp.com/send?phone=542995817788&text=Escrib%C3%AD%20tu%20consulta">Whatsapp</a></p>
                    </li> -->

                    <li>
                        <span>
                            <ion-icon class="c-info-icon" name="mail-outline"></ion-icon>
                        </span>
                        <p><a href="marimenucorun@gmail.com">marimenucorun.22@gmail.com</a></p>
                    </li>
                </ul>
            </div>
            <div class="sec developed">
                <h2>Web App Desarrollada por</h2>
                <div class="parent">
                    <div class="div1">
                        <h1 class="my-0">HV</h1>
                    </div>
                    <div class="div2">
                        <ion-icon class="rocket" name="rocket-outline"></ion-icon>
                    </div>
                    <div class="div3">
                        <h1 class="my-0">Developers</h1>
                    </div>
                </div>
                <ul class="sci2">
                    <li>
                        <a href="#">
                            <ion-icon class="sci-icon" name="logo-facebook"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <ion-icon class="sci-icon" name="logo-linkedin">
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>
    <div class="copyright">
        <p>Mari Menuco Run ® 2022 - Todos los derechos reservados</p>
    </div>
</section>