<section class="register" id="register">
    <div class="contenedor">
        <div class="register-wrapper" id="register-wrapper">
            <div class="form-container">
                <div class="header-bg">
                    <div class="col-lg-12 col-sm-12">
                        <header>FORMULARIO DE INSCRIPCION</header>
                    </div>
                </div>
                <div class="container f-con p-2 pt-0 sliding-form-container">
                    <div class="row text-center justify-content-center c-progress-bar-container">
                        <div id="c-progress" class="row px-5 m-0 text-center justify-content-center c-progress-bar">
                            <div class="col step">
                                <p>Datos Personales</p>
                                <div class="bullet">
                                    <span>1</span>
                                </div>
                                <ion-icon class="check" name="checkmark-outline"></ion-icon>
                            </div>
                            <div class="col step step2">
                                <p>Pago</p>
                                <div class="bullet">
                                    <span>2</span>
                                </div>
                                <ion-icon class="check" name="checkmark-outline"></ion-icon>
                            </div>
                            <div class="col step step3">
                                <p>Confirmacion</p>
                                <div class="bullet bullet-last">
                                    <span>3</span>
                                </div>
                                <ion-icon class="check" name="checkmark-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="col-lg-8 text-center justify-content-center col-sm-12">
                            <div class="form-outer">
                                <form action="add-runner" method="post">
                                    <div class="r-form">
                                        <div class="page slide-page">
                                            <div class="title">Datos Personales:</div>

                                                <div class="flex-container">
                                                    <div class="flex-items">
                                                        <div class="flex-container-inner">
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>Elige una distancia</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <select id="categoriesSelect" name="cat"></select>
                                                                        <input id="runnerUID" name="runnerUID" type="hidden">
                                                                        <% if (runnersLenght) { %>                                                                   
                                                                            <script>
                                                                                document.getElementById('runnerUID').value = '<%= runnersLenght++ %>'
                                                                            </script>
                                                                            <% } %>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>Precio</p>
                                                                    </div>
                                                                    <div class="flex-items-content price">
                                                                        <input id="transactionAmount" name="transactionAmount" type="hidden" style="color: var(--secondary)" value="1000">
                                                                        <p id="transactionP">1000</p>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                         </div>
                                                    </div>

                                                    <div class="flex-items">
                                                        <div class="flex-container-inner">
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>Nombre y Apellido</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <input id="r-name" name="runnerName" type="text">    
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>Edad</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <select id="ageSelect" name="ageSelect"></select>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                         </div>
                                                    </div>

                                                    <div class="flex-items">
                                                        <div class="flex-container-inner">
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>Genero</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <select name="genre" id="genre" class="rGenre" value="">
                                                                            <option value="Femenino">Femenino</option>
                                                                            <option value="Masculino">Masculino</option>
                                                                        </select>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>Fecha Nac</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <input id="birth" name="birth" type="date">
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                         </div>
                                                    </div>

                                                    <div class="flex-items">
                                                        <div class="flex-container-inner">
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>DNI</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <input id="r-id" name="runnerID" type="text" placeholder="DNI">
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p># de Socio</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <input id="partner-id" name="partner_id" type="text" placeholder="Obligatorio">
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                         </div>
                                                    </div>

                                                    <div class="flex-items">
                                                        <div class="flex-container-inner">
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>email</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <input id="r-email" name="runnerEmail" type="text" placeholder="email@email.com">
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <p>Camiseta</p>
                                                                    </div>
                                                                    <div class="flex-items-content">
                                                                        <select name="tShirtSize" id="t-size" class="t-size" value="">
                                                                            <option value="S">Talle S</option>
                                                                            <option value="M">Talle M</option>
                                                                            <option value="L">Talle L</option>
                                                                            <option value="XL">Talle XL</option>
                                                                            <option value="XXL">Talle XXL</option>
                                                                            <option value="XXXL">Talle XXXL</option>
                                                                            <option value="XXXXL">Talle XXXXL</option>
                                                                        </select>
                                                                        
                                                                    </div>
                                                                    
                                                                    
                                                                   
                                                                 </div>
                                                                 
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="flex-items-content see-sizes">
                                                            <button type="button" class="open-modal" data-open="modal1">Ver Medidas</button>
                                                        </div>
                                                        
                                                    </div>

                                                    



                                                    <div class="flex-items">
                                                        <div class="flex-container-inner">
                                                            <div class="flex-items-inner">
                                                                <div class="flex-container-content">
                                                                    <div class="flex-items-content">
                                                                        <button id="home_btn" type="button" class="firstNext mt-3 next">Siguiente</button>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                         </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="page">
                                            <div class="title">
                                                Resumen</div>

                                            <div class="container">
                                                <div class="row row-custom3">

                                                    <div class="col-6 text-end">Categoria</div>
                                                    <div class="col-6 text-start"><input type="text" id="cat" disabled></div>
                                                    <div class="col-6 text-end">Nombre</div>
                                                    <div class="col-6 text-start"><input type="text" id="runnerName" name="runnerName" disabled></div>
                                                    <div class="col-6 text-end">DNI</div>
                                                    <div class="col-6 text-start"><input type="text" id="runnerID" name="runnerID" disabled></div>
                                                    <div class="col-6 text-end">Socio</div>
                                                    <div class="col-6 text-start"><input type="text" id="partnerID" name="partnerID" disabled></div>
                                                    <div class="col-6 text-end">Talle</div>
                                                    <div class="col-6 text-start"><input type="text" id="tsize" name="tsize" disabled></div>
                                                    <div class="col-6 text-end">Precio $</div>
                                                    <div class="col-6 text-start"><input type="text" id="price" name="price" disabled></div>
                                                    <div class="col-6 text-end">Desc. socio $</div>
                                                    <div class="col-6 text-start"><input type="text" id="platform_cost" name="platform_cost" disabled></div>
                                                    <div class="col-6 mb-4 text-end">
                                                        <strong>Total $</strong>
                                                    </div>
                                                    <div class="col-6 mb-4 text-start total"><input type="text" id="total_cost" name="total_cost" disabled></div>
                                                    </strong>

                                                    <div class="field mb-2 btns">

                                                        <button type="button" class="prev-2 mt-3 prev">Volver</button>
                                                        <button type="submit" class="submit mt-3">Pagar</button>
                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                        <div class="page">
                                            <div class="title">
                                                Confirmacion:</div>
                                            <div class="container">
                                                <div class="row row-custom3">

                                                    <div class="field mb-2 btns">
                                                        <button class="prev-2 mt-3 prev">Anterior</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div>
                                            <input id="token" name="token" type="hidden">
                                            <input id="paymentMethodId" type="hidden">

                                            <input id="description" name="description" type="hidden" value="Carrera MM Run">
                                            <p id="payment-status">Waiting Payment</p>
                                        </div>

                                    </div>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- modal -->

    <style>
                .modal { 
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background: var(--black);
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            transition: all 0.16s ease-in;
        }

        .modal-dialog {
            position: relative;
            min-width: 800px;
            max-height: 80vh;
            border-radius: 5px;
            background: var(--primary);
            overflow: auto;
            cursor: default;
            overflow: hidden;
        }
        
        .modal-header,
        .modal-footer {
            background: var(--lightgray);
        }
        
        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0% 2% 0% 2% !important;

        }

        .modal-header p {
            margin-top: 0.25rem;
            font-size: 22px;
            font-weight: 500;
            font-style: italic;
            color:var(--secondary);
            text-transform: uppercase;
            margin-bottom: 0.25rem;
            
        }

        .modal-content2 {
            display: flex;
            background-color: var(--primary);
            align-items: center;
            justify-content: center;
            padding: 0.5% 5% 0.5% 5%;
        }

        .modal-dialog .modal-content2 img {
            max-width: 100%;
            border-radius: 3%;
            

        }
        
        .modal-header .close-modal {
            font-size: 1.5rem;
            border: none;
            background-color: transparent;
            color:var(--secondary);
        }
        
        .modal p + p {
            margin-top: 1rem;
        }

        .modal {
            visibility: hidden;
            opacity: 0;
            transition: all 0.16s ease-in;
        }
            
        .modal.is-visible {
            visibility: visible;
            opacity: 1;
        }
    </style>
    
    
    <div class="modal" id="modal1" data-animation="slideInOutLeft">
        <div class="modal-dialog">
            <header class="modal-header">
                <p>Medidas</p>
                <button class="close-modal" aria-label="modal-close" data-close>
                    ✕  
                    </button>
            </header>
            <section class="modal-content2">
                <img src="/images/talles.jpeg" alt="">
            </section>
        </div>
    </div>
</section>