<section class="register" id="register">
    <div class="contenedor">
        <div class="register-wrapper" id="register-wrapper">
            <div class="form-container">
                <div class="header-bg">
                    <div class="col-lg-12 col-sm-12">
                        <header>FORMULARIO DE INSCRIPCION</header>
                    </div>
                </div>
                <div class="container f-con p-2 pt-0 sliding-form-container">
                    <div class="row text-center justify-content-center">
                        <div class="row px-5 m-0 text-center justify-content-center c-progress-bar">
                            <div class="col step">
                                <p>Datos Personales</p>
                                <div class="bullet">
                                    <span>1</span>
                                </div>
                                <ion-icon class="check" name="checkmark-outline"></ion-icon>
                            </div>
                            <div class="col step">
                                <p>Pago</p>
                                <div class="bullet">
                                    <span>2</span>
                                </div>
                                <ion-icon class="check" name="checkmark-outline"></ion-icon>
                            </div>
                            <div class="col step">
                                <p>Confirmacion</p>
                                <div class="bullet bullet-last">
                                    <span>3</span>
                                </div>
                                <ion-icon class="check" name="checkmark-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="col-md-8 text-center justify-content-center">
                            <div class="form-outer">
                                <form id="form-checkout" onsubmit="return false">
                                    <div class="r-form">
                                        <div class="page slide-page">
                                            <div class="title">
                                                Datos Personales:</div>
                                            <div class="container p-0 m-w-full">
                                                <div class="row pe-0 ps-3 register-row-custom">
                                                    <div class="col-lg-8 col-sm-8">
                                                        <div class="field">
                                                            <div class="label">
                                                                Categoria</div>
                                                            <select id="categoriesSelect"></select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 pe-2 col-sm-3">
                                                        <div class="field">
                                                            <div class="label">
                                                                Edad</div>
                                                            <select id="ageSelect"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="label">
                                                    Nombre y Apellido</div>
                                                <input id="r-name" type="text">
                                            </div>
                                            <div class="row px-4">
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="field">
                                                        <div class="label">
                                                            DNI</div>
                                                        <input id="r-id" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="field">
                                                        <div class="label">
                                                            Soy Socio del Club</div>
                                                        <input id="r-id" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="label">
                                                    Email</div>
                                                <input id="r-email" type="text">
                                            </div>
                                            <div class="field">
                                                <button id="home_btn" class="firstNext mt-3 next">Siguiente</button>
                                            </div>
                                        </div>
                                        <div class="page">
                                            <div class="title">
                                                Datos de tarjeta:</div>
                                            <div class="container">
                                                <div class="row register-row-custom2">
                                                    <div class="col-lg-8 col-sm-8">
                                                        <div class="field">
                                                            <div class="label">
                                                                Numero de tarjeta</div>
                                                            <div id="form-checkout__cardNumber" class="cus-container"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <div class="field">
                                                            <div class="label">
                                                                Emisor</div>
                                                                <select id="form-checkout__issuer" name="issuer">
                                                                    <option value="" disabled selected>Emisor</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <div class="field">
                                                            <div class="label">
                                                                Exp. (MM/AA)</div>
                                                            <div id="form-checkout__expirationDate" class="cus-container"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <div class="field">
                                                            <div class="label">
                                                                Cuotas</div>
                                                                <select id="form-checkout__installments" name="installments">
                                                                    <option value="" disabled selected>Cuotas</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-3">
                                                        <div class="field">
                                                            <div class="label">
                                                                CVV</div>
                                                            <div id="form-checkout__securityCode" class="cus-container"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1 col-sm-1">
                                                        <div class="field">
                                                            <div class="label">
                                                                ver</div>
                                                            <span class="cvv-eye" id="eye-span" onclick="showPass()">
                                                                <ion-icon id="eye-icon" name="eye-outline"></ion-icon>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-sm-12">
                                                        <div class="field">
                                                            <div class="label">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-sm-6">
                                                                        Nombre del Titular
                                                                    </div>
                                                                    <div class="col-lg-6 col-sm-6 text-end">
                                                                        <p class="same-info" id="same-info"><a href="javascript:void(0)">Usar los mismos datos</a></p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <input type="text" id="form-checkout__cardholderName" placeholder="Cardholder" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <div class="field">
                                                            <div class="label">
                                                                Tipo DNI</div>
                                                            <select id="form-checkout__identificationType">
                                                                <option value="" disabled selected>Document type</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-sm-8">
                                                        <div class="field">
                                                            <div class="label">DNI del titular</div>
                                                            <input type="text" id="form-checkout__identificationNumber" placeholder="Document number" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-sm-12">
                                                        <div class="field">
                                                            <div class="label">
                                                                email del titular</div>
                                                            <input type="email" id="form-checkout__cardholderEmail" placeholder="Email" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 px-5 col-sm-12 px-5 mp-field-con">
                                                        <div class="mp-field">
                                                            <div class="label">Usamos <img src="/images/mercadopago.svg" alt=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row field btns">
                                                <button class="prev-1 prev">Anterior</button>
                                                <button id="next-1" class="next-1 next">Siguiente</button>
                                            </div>

                                        </div>
                                        <div class="page">
                                            <div class="title">
                                                Date of Birth:</div>
                                            <div class="field">
                                                <div class="label">
                                                    Issuer</div>
                                                <select id="form-checkout__issuer" name="issuer">
                                                        <option value="" disabled selected>Issuing Bank</option>
                                                    </select>
                                            </div>
                                            <div class="field">
                                                <div class="label">
                                                    Installments</div>
                                                
                                            </div>
                                            <div>
                                                <input id="token" name="token" type="hidden">
                                                <input id="paymentMethodId" type="hidden">
                                                <input id="transactionAmount" type="hidden" value="100.50">
                                                <input id="description" name="description" type="hidden" value="Product Name">
                                                <p id="payment-status">Waiting Payment</p>
                                            </div>
                                            <div class="field btns">
                                                <button class="prev-2 mt-3 prev">Anterior</button>
                                                <button id="form-checkout__submit" type="submit" class="submit mt-3">Finalizar</button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function showPass() {
        let eyeSpan = document.getElementById('eye-span')
        let eyeIcon = document.getElementById('eye-icon')
        eyeIcon.setAttribute('name', 'eye-off-outline')

        var x = document.getElementById('form-checkout__securityCode')
        if (x.type === "password") {
            x.type = "text";
        } else {
            eyeIcon.setAttribute('name', 'eye-outline');
            x.type = "password";
        }
    }
</script>





<!-- <form action="add-runner" method="post">
        <input type="text" name="runnerName">
        <input type="number" name="runnerAge">
        <input type="text" name="runnerEmail">
        <select name="categories" id="categoriesSelect">
            <option>Elije una Categoria</option>
        </select>
        <button type="submit">Agregar</button>
        <hr>
        <% runners.map(item => { %>
            <a href="runner/<%= item.id %>">
                <%= item.data.name %>
            </a>
            <a href="borrar/<%= item.id %>">Borra</a>
            <% })%>

    </form> -->