<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distancias</title>

    <link rel='stylesheet' href='/stylesheets/partials/responsive.css' />
    <link rel='stylesheet' href='/stylesheets/partials/responsive.mobile.css' />

    <link rel='stylesheet' href='/stylesheets/distances.css' />
    <!-- Importamos nuestro propio script -->
    <!-- <script type="module" src="/javascripts/main.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.10/fullpage.min.js" integrity="sha512-Xaje5GN/tSuxnQNdbOMppDPWWpPMN0WGfay1St6ckxBqnm3hB66iVqBbLXmujadwsH9KOUVHJZ3GR9QpAEF1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.10/fullpage.extensions.min.js" integrity="sha512-b95VfzeGbNkiv1J9/EwCaZ2dEB0Ny0jk5siyY3rqGUtanNizkHwV0CTE4dXf1qhDlIbPBeDNvtY0CejM7JYoUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.10/fullpage.min.css" integrity="sha512-5MGDCtVeXPQtSGLs2lG9mkb1tWc35ZSaBgJca+YMJxOIgLUaopFR28hmwJCk0W2KR8Ydt7vg3E+KS5XwbNFmMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap" rel="stylesheet">

    <!-- Importamos los icons de Ionic -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    
</head>
<body>
    <!-- ##NAVEGACION -->
    
<div id="fullpage">
	<div class="section">
        <div id="slide-1" class="slide">
            <div class="section-wrapper">
                <div id="title-wrapper" class="title flex-items-2">
                    <a class="return" href="/"><ion-icon name="arrow-back-outline"></ion-icon>Volver</a>
                    <p>kids</p>
                    <p class="time">largada 11:30AM</p>
                </div>
                <div id="race-start" class="race-start flex-items-2">
                    largada 11:30AM
                </div>
                <div class="content flex-items-2">

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Circuito
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>

                                <div name="map" id="map" class="description">
                                    <img src="/images/Circuitos/circuito-42K.jpg" style="max-width:100%; border: none" alt="">
                                </div>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Categorias
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                Masculinos y femeninos de 4 a 12 años
                            </p>
                        </div>
                    </div>
                    
                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Kit Corredor
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                    -Remera oficial de la carrera. <br>
                                    -Número de corredor. <br>
                                    -Chip para el control de tiempos. <br>
                                    -Seguro de accidentes personales para el corredor durante la participación en la carrera. <br>
                                    -Medalla finisher para quienes crucen la meta.
                                    -After running e Hidratación y alimentos.<br> <br>
                            </p>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Reglamento
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                <a href="">Descargar</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="slide-2" class="slide">
            <div class="section-wrapper">
                <div id="title-wrapper1" class="title flex-items-2">
                    <a class="return" href="/"><ion-icon name="arrow-back-outline"></ion-icon>Volver</a>
                    <p>5k</p>
                    <p class="time">largada 11:20AM</p>
                </div>
                <div id="race-start1" class="race-start flex-items-2">
                    largada 11:20AM
                </div>
                <div class="content flex-items-2">

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Circuito
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>

                                <div name="map" id="map" class="description">
                                    <img src="/images/Circuitos/circuito-42K.jpg" style="max-width:100%; border: none" alt="">
                                </div>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Categorias
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                Distancia recreativa para todas las edades
                            </p>
                        </div>
                    </div>
                    
                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Kit Corredor
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                    -Remera oficial de la carrera. <br>
                                    -Número de corredor. <br>
                                    -Seguro de accidentes personales para el corredor durante la participación en la carrera. <br>
                                    -Medalla finisher para quienes crucen la meta. <br>
                                    -Premiación general. <br> 
                                    -After running e Hidratación y alimentos.<br> <br>
                            </p>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Reglamento
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                <a href="">Descargar</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="slide-3" class="slide">
            <div class="section-wrapper">
                <div id="title-wrapper2" class="title flex-items-2">
                    <a class="return" href="/"><ion-icon name="arrow-back-outline"></ion-icon>Volver</a>
                    <p>10k</p>
                    <p class="time">largada 11:10AM</p>
                </div>
                <div id="race-start2" class="race-start flex-items-2">
                    largada 11:10AM
                </div>
                <div class="content flex-items-2">

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Circuito
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>

                                <div name="map" id="map" class="description">
                                    <img src="/images/Circuitos/circuito-42K.jpg" style="max-width:100%; border: none" alt="">
                                </div>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Categorias
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                Masculino hasta 29 años Femenino hasta 29 años
                                Masculino de 30 a 39 años Femenino de 30 a 39 años
                                Masculino de 40 a 49 años Femenino de 40 a 49 años
                                Masculino de 50 a 59 años Femenino de 50 a 59 años
                                Masculino + de 60 años Femenino + de 60 años
                            </p>
                        </div>
                    </div>
                    
                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Kit Corredor
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                    -Remera oficial de la carrera. <br>
                                    -Número de corredor. <br>
                                    -Chip para el control de tiempos. <br>
                                    -Seguro de accidentes personales para el corredor durante la participación en la carrera. <br>
                                    -Medalla finisher para quienes crucen la meta. <br>
                                    -Premiación general y categorías <br>
                                    -After running e Hidratación y alimentos.<br> <br>
                            </p>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Reglamento
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                <a href="">Descargar</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="slide-4" class="slide">
            <div class="section-wrapper">
                <div id="title-wrapper3" class="title flex-items-2">
                    <a class="return" href="/"><ion-icon name="arrow-back-outline"></ion-icon>Volver</a>
                    <p>21k</p>
                    <p class="time">largada 11:00AM</p>
                </div>
                <div id="race-start3" class="race-start flex-items-2">
                    largada 11:00AM
                </div>
                <div class="content flex-items-2">

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Circuito
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>

                                <div name="map" id="map" class="description">
                                    <img src="/images/Circuitos/circuito-42K.jpg" style="max-width:100%; border: none" alt="">
                                </div>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Categorias
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                Masculino hasta 29 años Femenino hasta 29 años
                                Masculino de 30 a 39 años Femenino de 30 a 39 años
                                Masculino de 40 a 49 años Femenino de 40 a 49 años
                                Masculino de 50 a 59 años Femenino de 50 a 59 años
                                Masculino + de 60 años Femenino + de 60 años
                            </p>
                        </div>
                    </div>
                    
                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Kit Corredor
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                    -Remera oficial de la carrera. <br>
                                    -Número de corredor. <br>
                                    -Chip para el control de tiempos. <br>
                                    -Seguro de accidentes personales para el corredor durante la participación en la carrera. <br>
                                    -Medalla finisher para quienes crucen la meta.
                                    -Medalla finisher para quienes crucen la meta. <br>
                                    -Premiación general y categorías <br>
                                    -After running e Hidratación y alimentos.<br> <br>
                            </p>
                        </div>
                    </div>

                    <div class="accordion-1">
                        <div class="accordion-content">
                            <header>
                                <span class="title">
                                    Reglamento
                                </span>
                                <ion-icon name="add-outline"></ion-icon>
                            </header>
                            <p class="description">
                                <a href="">Descargar</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>

</div>

<script>
    new fullpage('#fullpage', {
	//options here
	autoScrolling:false,
	scrollHorizontally: true,
    loopHorizontal: true,
    fitToSection: true,
    credits: { enabled: false, label: 'HvDevs', position: 'right'}, 
    });

    const accordionContent = document.querySelectorAll('.accordion-content');
    
    console.log(window.screen.availHeight);
    console.log(window.screen.availWidth);

    accordionContent.forEach((item, index) => {
        let header = item.querySelector('header');

        const raceStart = document.getElementById('race-start');
        const titleWrapper = document.getElementById('title-wrapper');

        const raceStart1 = document.getElementById('race-start1');
        const titleWrapper1 = document.getElementById('title-wrapper1');

        const raceStart2 = document.getElementById('race-start2');
        const titleWrapper2 = document.getElementById('title-wrapper2');

        const raceStart3 = document.getElementById('race-start3');
        const titleWrapper3 = document.getElementById('title-wrapper3');

        header.addEventListener('click', () =>{
            item.classList.toggle('open');
            
            let description = item.querySelector('.description');
            
            if(item.classList.contains('open')){
                if(window.screen.availWidth < 470){
                    description.style.height =  `${description.scrollHeight + 45}px`;

                    if(item.querySelector('#map')){
                        description.style.padding = '0%'
                        description.style.height =  `${description.scrollHeight - 5}px`;
                        description.style.margin = '0px';
                    }else {
                        description.style.height =  `${description.scrollHeight + 45}px`;
                        description.style.padding = '15px 35px';
                    }
                    description.style.fontSize = '16px';
                    description.style.fontWeight = '300';

                    header.style.padding = '2% 10%';

                    titleWrapper.style.padding = '25px 10px';
                    titleWrapper.style.fontSize = '28px';

                    raceStart.style.padding = "2% 2% 2% 2%";
                    raceStart.style.fontSize = '24px';

                    titleWrapper1.style.padding = '25px 10px';
                    titleWrapper1.style.fontSize = '28px';

                    raceStart1.style.padding = "2% 2% 2% 2%";
                    raceStart1.style.fontSize = '24px';

                    titleWrapper2.style.padding = '25px 10px';
                    titleWrapper2.style.fontSize = '28px';

                    raceStart2.style.padding = "2% 2% 2% 2%";
                    raceStart2.style.fontSize = '24px';

                    titleWrapper3.style.padding = '25px 10px';
                    titleWrapper3.style.fontSize = '28px';

                    raceStart3.style.padding = "2% 2% 2% 2%";
                    raceStart3.style.fontSize = '24px';
                } else {

                    if(item.querySelector('#map')){
                        description.style.padding = '0%'
                        description.style.height =  `${description.scrollHeight - 5}px`;
                        description.style.margin = '0px';
                    }else {
                        description.style.height =  `${description.scrollHeight + 20}px`;
                        description.style.padding = '15px 35px';
                    }

                }

            }
            else {
                if(window.screen.availWidth < 470){
                    description.style.height = '0px';
                    description.style.padding = '0px 0px';
                    
                    header.style.padding = '2% 2% 2% 2%';
                    
                    titleWrapper.style.padding = '20% 10%';
                    titleWrapper.style.fontSize = '60px'

                    raceStart.style.padding = "10% 10% 10% 10%";
                    raceStart.style.fontSize = '36px';

                    titleWrapper1.style.padding = '20% 10%';
                    titleWrapper1.style.fontSize = '60px'

                    raceStart1.style.padding = "10% 10% 10% 10%";
                    raceStart1.style.fontSize = '36px';
                    
                    titleWrapper2.style.padding = '20% 10%';
                    titleWrapper2.style.fontSize = '60px'

                    raceStart2.style.padding = "10% 10% 10% 10%";
                    raceStart2.style.fontSize = '36px';

                    titleWrapper3.style.padding = '20% 10%';
                    titleWrapper3.style.fontSize = '60px'

                    raceStart3.style.padding = "10% 10% 10% 10%";
                    raceStart3.style.fontSize = '36px';
                }
                else {

                    description.style.height = '0px';
                    description.style.padding = '0px 0px';
                    header.style.padding = '2% 2% 2% 2%';

                }
                removeOpen(index, header);
                
            }
            removeOpen(index, header);

            
        })
    })

    function removeOpen(index1, header){
        accordionContent.forEach((item2, index2)=> {
            if (index1 != index2) {
                item2.classList.remove('open');
                let des = item2.querySelector('.description');
                let header = item2.querySelector('header');

                des.style.height = '0px';
                des.style.padding = '0px 0px'

                header.style.padding = '2% 2% 2% 2%';
               
            }
        })
    }



</script>

</body>
</html>